[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-sp-minimal"]
	path = themes/hugo-sp-minimal
	url = https://github.com/eueung/hugo-sp-minimal.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
